{% if include.from_feed == true %}
#&nbsp;Découvertes des invités<br/>
{% for d in include.discoveries %}
  {% assign hab = site.habitues | where:"username", d[0] | first %}
  •&nbsp;<a href="{{ site.url }}{{ site.baseurl }}/habitues/{{ hab.username }}.html">{{ hab.name }}</a><br>
  {% for pick in d[1].picks %}
    &nbsp;&nbsp;&nbsp;&nbsp;{{ pick.comment }}{% if pick.comment %}&nbsp;– {% endif %}<a href="{{ pick.link }}">{{ pick.title }}</a><br>
  {% endfor %}
{% endfor %}
{% else %}
<h2>{% if include.from_feed == true %}# {% endif %}Découvertes des invités</h2>{% if include.from_feed == true %}<br>{% endif %}
<dl>{% for d in include.discoveries %}
  {% assign hab = site.habitues | where:"username", d[0] | first %}
  <dt>•&nbsp;<a href="{{ site.url }}{{ site.baseurl }}/habitues/{{ hab.username }}.html">{{ hab.name }}</a></dt>
  {% for pick in d[1].picks %}
    {% if include.from_feed == true %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<dd>{{ pick.comment }}{% if pick.comment %}&nbsp;– {% endif %}<a href="{{ pick.link }}">{{ pick.title }}</a></dd>
  {% endfor %}
{% endfor %}</dl>
{% endif %}