<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@lerubynouveau">
<meta name="twitter:image" content="{{ site.logo_hd | prepend: site.imagefiles_path | prepend: site.url }}">
{% if page.published_date %}
<meta name="twitter:title" content="{{ page.number }}. {{ page.title }}">
<meta name="twitter:description" content="{{ page.tagline }} Avec {% capture header %}{% include hosts_twitter.html hosts=page.hosts %}{% endcapture %}{{ header | strip_newlines }}">
{% else %}
<meta name="twitter:title" content="Les Rubyistes">
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}
