---
layout: default
---
<div class="episode">
  <h1>{{ page.number }}. {{ page.title }}</h1>
  <em>{{ page.tagline }}</em><br />
  <p>À la table, {% include hosts.html hosts=page.hosts links=true %}.
  </p>

  <script src="/audiojs/audio.min.js"></script>
  <script>
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
  </script>
  <audio src="{{ page.file | prepend: site.audiofiles_path | prepend: site.media_url }}"></audio>
  <a href="{{ page.file | prepend: site.audiofiles_path | prepend: site.media_url }}" download="{{ page.file }}">Télécharger l'épisode</a> ({{ page.size | divided_by: 1048576 }} Mo) - Date de publication : {{ page.published_date}}
</div>

<hr />

<div id="transcript">

{% include actus.html actus=page.actus %}

<hr />

<h2>Le sujet : {{ page.tagline}}</h2>

{% if page.transcript_by %}
<p><b>Transcript par :</b> {% include hosts.html hosts=page.transcript_by links=true %}</p>
{% endif %}
{{ content }}

<hr />

{% include discoveries.html discoveries=page.discoveries %}

</div>
